<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .hello {
        text-align: center;
        color: #FFC107;
      }
      button {
        width: 150px;
        height: 40px;
        font-size: 14px;
        text-align: center;
        border: none;
        background-color: #FFC107;
        border-radius: 20px;
        
      }
      i {
        line-height: 10px;
      }
      .btn_verify {
        display: flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <h2 class="hello">HELLO !</h2>
    <i style="padding-top:10px;">This is an automated email form coffee addict</i>
    <p style="padding-top:10px;">Before you place an order for our coffee shop you must verify your email first. Click the button below to verify your email.</p>
    <p class="btn_verify">
      <br />
      <a href="{{buttonUrl}}"><button>Click here to verify !</button></a>
      <br />
      <br />
    </p>
    <p style="padding-top:10px;"><i>Do not reply this email.</i></p>
  </body>
</html>