<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <style>
    .container {
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      border: 1px dashed #5f2eea;
      max-width: 30rem;
      padding: 2rem;
    }
    .msg p.otp {
      font-size: 2rem;
      font-weight: 700;
    }

    .logo {
      display: flex;
      justify-content: center;
      padding: 1rem;
    }

    .logo img {
      width: 20rem;
    }

    .msg {
      width: 100%;
    }
  </style>
  <body>
    <div class="container">
      <div class="logo">
        <img src="{{imgUrl}}" alt="" />
      </div>
      <div class="msg">
        <p>Hi {{name}},</p>
        <p>Thanks For using Golden-tix, here's your OTP code</p>
        <p class="otp">{{otp}}</p>
        <p>
          Do not give this code to someone else! please use this code and then
          input your new password
        </p>
        <p>This is an automated email. Do not reply this email.</p>
      </div>
    </div>
  </body>
</html>